.col-sm {
    /*background: black;*/
    border-style: solid;
    border-width: 1px;
    border-color: red;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: black;
}

.hidden {
    background: black;
}

.shown {
    background: yellow;
}

.tittle p {
    text-align: center;
}

.missing {
    text-align: right;
    margin-right: 40px;
}